Repository TwiN/gatus, pull requests merged in 2023-11, with the labels that each got.

#605 feat(alerting): Add gotify provider
  .github/assets/gotify-alerts.png
  README.md
  alerting/alert/type.go
  alerting/config.go
  alerting/provider/gotify/gotify.go
  alerting/provider/gotify/gotify_test.go
  config/config.go
Labels: feature, area/alerting

#608 feat(alerting): make authentication optional for email provider
  README.md
  alerting/provider/email/email.go
  alerting/provider/email/email_test.go
Labels: area/alerting

#615 docs: add instruction to install as binary
  README.md
Labels: documentation
