Repository TwiN/gatus, pull requests merged in 2024-08, with the labels that each got.

#836 feat(storage): Support 30d badges
  README.md
  api/badge.go
  api/chart.go
  api/chart_test.go
  storage/store/memory/uptime.go
  storage/store/memory/uptime_test.go
  storage/store/sql/sql.go
  storage/store/sql/sql_test.go
Labels: feature, area/storage, area/ui, area/api

#842 feat: implement Gitea alerting provider integration
  .github/assets/gitea-alerts.png
  README.md
  alerting/alert/type.go
  alerting/config.go
  alerting/provider/gitea/gitea.go
  alerting/provider/gitea/gitea_test.go
  alerting/provider/provider.go
  config/config.go
  go.mod
  go.sum
Labels: feature, area/alerting

#849 fix(maintenance): Import time/tzdata to support timezones
  config/maintenance/maintenance.go
Labels: bug
