Repository TwiN/gatus, pull requests merged in 2024-04, with the labels that each got.

#724 feat: Implement push-based external endpoints
  README.md
  alerting/alert/alert.go
  alerting/alert/alert_test.go
  api/api.go
  api/badge.go
  api/chart.go
  api/endpoint_status.go
  api/external_endpoint.go
  api/external_endpoint_test.go
  config/config.go
  config/config_test.go
  core/dns_test.go
  core/endpoint.go
  core/endpoint_common.go
  core/endpoint_common_test.go
  core/endpoint_test.go
  core/external_endpoint.go
  core/external_endpoint_test.go
  core/result.go
  core/ssh.go
  core/ssh_test.go
  main.go
  storage/store/sql/sql.go
  watchdog/watchdog.go
  web/app/src/components/Tooltip.vue
  web/app/src/views/Details.vue
  web/static/css/app.css
  web/static/js/app.js
Labels: feature, area/api

#665 feat(client): add mTLS config
  README.md
  client/client_test.go
  client/config.go
  client/config_test.go
Labels: feature

#729 fix(alerting): Support alerts with no conditions for external endpoints
  alerting/provider/awsses/awsses.go
  alerting/provider/discord/discord.go
  alerting/provider/discord/discord_test.go
  alerting/provider/email/email.go
  alerting/provider/github/github.go
  alerting/provider/github/github_test.go
  alerting/provider/gitlab/gitlab.go
  alerting/provider/googlechat/googlechat.go
  alerting/provider/gotify/gotify.go
  alerting/provider/jetbrainsspace/jetbrainsspace.go
  alerting/provider/jetbrainsspace/jetbrainsspace_test.go
  alerting/provider/matrix/matrix.go
  alerting/provider/matrix/matrix_test.go
  alerting/provider/mattermost/mattermost.go
  alerting/provider/ntfy/ntfy.go
  alerting/provider/opsgenie/opsgenie.go
  alerting/provider/provider.go
  alerting/provider/slack/slack.go
  alerting/provider/slack/slack_test.go
  alerting/provider/teams/teams.go
  alerting/provider/teams/teams_test.go
  alerting/provider/telegram/telegram.go
  alerting/provider/telegram/telegram_test.go
  watchdog/alerting_test.go
Labels: bug, area/alerting
