Repository TwiN/gatus, pull requests merged in 2024-12, with the labels that each got.

#918 feat(alerting): Add overrides for Ntfy provider
  README.md
  alerting/provider/ntfy/ntfy.go
  alerting/provider/ntfy/ntfy_test.go
Labels: feature, area/alerting

#929 feat(alerting): Implement alert-level provider overrides
  .gitignore
  README.md
  alerting/alert/alert.go
  alerting/provider/awsses/awsses.go
  alerting/provider/awsses/awsses_test.go
  alerting/provider/custom/custom.go
  alerting/provider/custom/custom_test.go
  alerting/provider/discord/discord.go
  alerting/provider/discord/discord_test.go
  alerting/provider/email/email.go
  alerting/provider/email/email_test.go
  alerting/provider/gitea/gitea.go
  alerting/provider/gitea/gitea_test.go
  alerting/provider/github/github.go
  alerting/provider/github/github_test.go
  alerting/provider/gitlab/gitlab.go
  alerting/provider/gitlab/gitlab_test.go
  alerting/provider/googlechat/googlechat.go
  alerting/provider/googlechat/googlechat_test.go
  alerting/provider/gotify/gotify.go
  alerting/provider/gotify/gotify_test.go
  alerting/provider/jetbrainsspace/jetbrainsspace.go
  alerting/provider/jetbrainsspace/jetbrainsspace_test.go
  alerting/provider/matrix/matrix.go
  alerting/provider/matrix/matrix_test.go
  alerting/provider/mattermost/mattermost.go
  alerting/provider/mattermost/mattermost_test.go
  alerting/provider/messagebird/messagebird.go
  alerting/provider/messagebird/messagebird_test.go
  alerting/provider/ntfy/ntfy.go
  alerting/provider/ntfy/ntfy_test.go
  alerting/provider/opsgenie/opsgenie.go
  alerting/provider/opsgenie/opsgenie_test.go
  alerting/provider/pagerduty/pagerduty.go
  alerting/provider/pagerduty/pagerduty_test.go
  alerting/provider/provider.go
  alerting/provider/provider_test.go
  alerting/provider/pushover/pushover.go
  alerting/provider/pushover/pushover_test.go
  alerting/provider/slack/slack.go
  alerting/provider/slack/slack_test.go
  alerting/provider/teams/teams.go
  alerting/provider/teams/teams_test.go
  alerting/provider/teamsworkflows/teamsworkflows.go
  alerting/provider/teamsworkflows/teamsworkflows_test.go
  alerting/provider/telegram/telegram.go
  alerting/provider/telegram/telegram_test.go
  alerting/provider/twilio/twilio.go
  alerting/provider/twilio/twilio_test.go
  alerting/provider/zulip/zulip.go
  alerting/provider/zulip/zulip_test.go
  config/config.go
  config/config_test.go
  watchdog/alerting_test.go
Labels: feature, area/alerting

#943 feat(ui): Implement Custom CSS configuration
  README.md
  api/api.go
  api/api_test.go
  api/custom_css.go
  config/ui/ui.go
  web/app/public/index.html
  web/static/index.html
Labels: feature, area/ui

#945 feat(alerting): Add condition results to Pushover
  README.md
  alerting/provider/pushover/pushover.go
  alerting/provider/pushover/pushover_test.go
Labels: feature, area/alerting

#758 feat(api): Expose uptime data as text via API
  README.md
  api/api.go
  api/raw.go
  api/raw_test.go
Labels: feature, area/api
