Repository TwiN/gatus, pull requests merged in 2025-09, with the labels that each got.

#1242 docs: information on escaping endpoint url in config
  README.md
Labels: documentation

#1266 fix: Don't panic on if there's 0 endpoints and >1 suite + update documentation
  README.md
  config/config.go
  config/config_test.go
Labels: bug

#1273 fix(storage): Zero allocation issue with fiber
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  api/api.go
  api/external_endpoint.go
  config/endpoint/result.go
  go.mod
  go.sum
Labels: bug, area/storage, area/api

#1278 fix(suite): Display condition results when user clicks step in execution flow
  storage/store/sql/sql.go
  web/app/src/components/StepDetailsModal.vue
  web/app/src/views/SuiteDetails.vue
  web/static/css/app.css
  web/static/js/app.js
  web/static/js/chunk-vendors.js
Labels: bug

#1280 fix(security): Make OIDC session TTL configurable
  README.md
  config/config.go
  config/config_test.go
  security/config.go
  security/config_test.go
  security/oidc.go
  security/oidc_test.go
Labels: bug, area/security

#1282 fix(suites): Handle invalid paths in store and update needsToReadBody to check store
  config/endpoint/endpoint.go
  config/endpoint/endpoint_test.go
  config/suite/suite.go
  config/suite/suite_test.go
Labels: bug, area/suites

#1283 fix(events): Retrieve newest events instead of oldest events
  storage/store/sql/sql.go
  storage/store/sql/sql_test.go
Labels: bug

#1275 fix(alerting): Added description block in teams-workflows
  alerting/provider/teamsworkflows/teamsworkflows.go
  alerting/provider/teamsworkflows/teamsworkflows_test.go
Labels: bug, area/alerting

#1298 feat(client): Add support for SSH tunneling
  README.md
  client/client.go
  client/config.go
  config/config.go
  config/config_test.go
  config/tunneling/sshtunnel/sshtunnel.go
  config/tunneling/sshtunnel/sshtunnel_test.go
  config/tunneling/tunneling.go
  config/tunneling/tunneling_test.go
  main.go
Labels: feature, area/networking, area/client

#1303 fix(tunneling): Add exponential backoff retry
  config/tunneling/sshtunnel/sshtunnel.go
Labels: bug, area/networking, area/client, area/tunneling
