Repository TwiN/gatus, pull requests merged in 2025-10, with the labels that each got.

#1305 chore(deps): Update aws-sdk-go to aws-sdk-go-v2
  alerting/provider/awsses/awsses.go
  go.mod
  go.sum
Labels: dependencies

#1308 fix(ui): Swap oldest/newest result time for SuiteCard.vue
  web/app/src/components/SuiteCard.vue
  web/static/css/app.css
  web/static/js/app.js
Labels: bug, area/ui, area/suites

#1286 feat(client): Support body placeholder for SSH endpoints
  README.md
  client/client.go
  config/endpoint/endpoint.go
Labels: feature, area/client

#1086 feat(alerting): Add RESULT_CONDITIONS in custom alert to have more information
  README.md
  alerting/provider/custom/custom.go
  alerting/provider/custom/custom_test.go
Labels: feature, area/alerting
