Repository TwiN/gatus, pull requests merged in 2025-05, with the labels that each got.

#1089 feat(alerting): Add device support for pushover alerts
  README.md
  alerting/provider/pushover/pushover.go
  alerting/provider/pushover/pushover_test.go
Labels: feature, area/alerting

#1106 perf(sqlite): Create indices to fix performance issue
  storage/store/sql/specific_sqlite.go
Labels: area/storage

#1110 feat: Make maximum number of results and events configurable
  README.md
  api/api.go
  api/endpoint_status.go
  api/endpoint_status_test.go
  api/util.go
  api/util_test.go
  config/config.go
  config/config_test.go
  config/ui/ui.go
  storage/config.go
  storage/store/common/limits.go
  storage/store/memory/memory.go
  storage/store/memory/memory_test.go
  storage/store/memory/uptime_test.go
  storage/store/memory/util.go
  storage/store/memory/util_bench_test.go
  storage/store/memory/util_test.go
  storage/store/sql/sql.go
  storage/store/sql/sql_test.go
  storage/store/store.go
  storage/store/store_bench_test.go
  storage/store/store_test.go
  web/app/public/index.html
  web/app/src/components/Pagination.vue
  web/app/src/views/Details.vue
  web/app/src/views/Home.vue
  web/static/css/app.css
  web/static/index.html
  web/static/js/app.js
Labels: feature

#1127 revert: fix(client): Use libcap to fix icmp
  Dockerfile
Labels: bug
